.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# Ignore all .RDS files
*.RDS

# Ignore all .fa files
*.fa

# Ignore PICRUSt2 folder
data/modPICRUSt2*/
data/PICRUSt2*/

# Ignore results folder
results/
